#skills {
    min-height: 115vh;
}
.skills_heading {
    font-size: 50px;
    margin-top: 12%;
    margin-right: 14%;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-end;
}
.skillsHeading {
    font-size: 20px;
    margin: 2% 0 2% 0;
}
.soft {
    margin-right: 10%;
    display: flex;
    justify-content: flex-end;
}
.Skills {
    margin: 0 0 0 7%;
}
.icon_skill {
    margin: 0 35px 0 0;
}
.skill {
    font-size: 70px;
}
.fa-mysql {
    font-size: 19px;
    width: 100%;
    font-family: sans-serif;
}
.technical_skills_info {
    display: flex;
    margin: 0 0 0 6%;
    flex-direction: column;
}
.mysql, .flask, .firebase, .mongoDB, .postgreSQL {
    display: grid;
    place-items: center;
    /* background: white; */
    color: white;
    mix-blend-mode: multiply;
    width: 100px;
    height: 94%;
    border: solid 1.9px;
    border-radius: 2px;
    padding: 0 1px;
    justify-content: center;
}
.mysql, .flask, .firebase {
    width: 50%;
}
.mongoDB {
    width: 60%;
}
.column {
    width: 12%;
    padding: 10px;
}
.row {
    display: flex;
    padding: 0 0 30px 0;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.mysql:hover {
    color: #515056;
    transition: 1s 0.2s ease;
}
.icon_skill:hover {
    color: #515056;
    transition: 0.5s 0.2s ease;
}
/* SOFT SKILLS */
.soft_skills_info {
    display: flex;
    /* justify-content: flex-end; */
    margin-right: 14%;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    font-size: 20px;
}
.Row {
    display: flex;
    padding: 0 0 30px 0;
    width: 85%;
}
.Row:after {
    content: "";
    display: table;
    clear: both;
}
.Column {
    width: 100%;
    padding: 10px;
    display: grid;
    place-items: center;
}