* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75em;
  color: #a6a7a8;
  background-color: #20262c;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 30px;
  height: 30px;
  margin: -76px 0 0 -76px;
  border: 16px solid #007ced;
  border-radius: 50%;
  -webkit-animation: loader-8-1 0.8s cubic-bezier(0.06, 0.01, 0.49, 1.18)
    infinite;
  animation: loader-8-2 0.8s cubic-bezier(0.46, -0.1, 0.27, 1.07) 0.2s infinite;
}

@keyframes loader-8-2 {
  0%,
  100% {
    opacity: 0;
  }

  33% {
    opacity: 0.3;
  }

  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(4);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}

.top-bar {
  display: none;
}

.topnav {
  display: none;
}

/* Side Navbar */
.Site-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  justify-content: center;
}

.profile {
  background-color: #2e3339;
  width: 21vw;
  padding-top: 15%;
}

.nav-bar {
  width: 21vw;
  height: 100vh;
  background-color: #31373d;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-transform: initial;
  gap: 50px;
  margin-right: 5%;
  padding: 40px;
}

#about-me {
  color: #eeeeee;
  text-decoration: none;
  font-size: 18px;
}

#about-me:hover {
  color: #007ced;
  transition: 0.3s all ease-in;
}

#about-me::after {
  content: "";
  width: 0%;
  height: 1px;
  background: #eeeeee;
  position: absolute;
  transition: 00.3s linear;
  left: 15%;
}

#about-me:hover::after {
  width: 15%;
}

#resume {
  color: #eeeeee;
  text-decoration: none;
  font-size: 18px;
}

#resume:hover {
  color: #007ced;
  transition: 0.3s all ease-in;
}

#resume::after {
  content: "";
  width: 0%;
  height: 1px;
  background: #eeeeee;
  position: absolute;
  transition: 00.3s linear;
  left: 15%;
}

#resume:hover::after {
  width: 15%;
}

#portfolio {
  color: #eeeeee;
  text-decoration: none;
  font-size: 18px;
}

#portfolio:hover {
  color: #007ced;
  transition: 0.3s all ease-in;
}

#portfolio::after {
  content: "";
  width: 0%;
  height: 1px;
  background: #eeeeee;
  position: absolute;
  transition: 00.3s linear;
  left: 15%;
}

#portfolio:hover::after {
  width: 15%;
}

#contact {
  color: #eeeeee;
  text-decoration: none;
  font-size: 18px;
}

#contact:hover {
  color: #007ced;
  transition: 0.3s all ease-in;
}

#contact::after {
  content: "";
  width: 0%;
  height: 1px;
  background: #eeeeee;
  position: absolute;
  transition: 00.3s linear;
  left: 15%;
}

#contact:hover::after {
  width: 15%;
}

#myBtn {
  position: fixed;
  bottom: 2%;
  left: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #31373d;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  align-items: flex-end;
}

#myBtn:hover {
  background-color: #20262c;
}

.profile-image {
  border-radius: 50%;
  height: 137px;
  width: 137px;
  margin-left: -3%;
  object-fit: cover;
}

.profile-image:hover {
  box-shadow: 0 0 3px #eeeeee;
  transition: 0.3s all ease-in;
}

/* Title */
.site-title {
  color: #f5f5f5;
  font-size: 27px;
  display: block;
  margin-left: -3%;
  line-height: 1.2;
}

.site-subtitle {
  display: block;
  font-weight: 400;
  color: #9e9e9e;
  margin-left: -2%;
  font-size: 14px;
}

/* Social-Icon-Links */
#icon1 {
  font-size: 20px;
  margin-left: -3%;
  margin-top: 5%;
  color: #8c8f92;
}

#icon1:hover {
  color: #eeeeee;
  transition: 0.3s all ease-in;
}

#icon2 {
  font-size: 20px;
  margin-left: 5%;
  color: #8c8f92;
}

#icon2:hover {
  color: #eeeeee;
  transition: 0.3s all ease-in;
}

#icon3 {
  font-size: 19px;
  margin-left: 5%;
  color: #8c8f92;
}

#icon3:hover {
  color: #eeeeee;
  transition: 0.3s all ease-in;
}
.Site-content {
  background: #20262c;
}

/* Contact Section */
.Section1 {
  height: 135vh;
  display: flex;
  flex-direction: column;
}

.Section1-text {
  padding-left: 40px;
  padding-right: 20px;
}

h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.3;
  margin-top: 7%;
  margin-left: 15%;
}

hr {
  width: 5%;
  margin-left: 51.5%;
  margin-bottom: 3%;
}

h4 {
  font-size: 16px;
  color: #aaa;
  font-weight: 300;
  margin-bottom: 20px;
  margin-left: 16%;
  margin-bottom: 3%;
}

span {
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.contact-info1 {
  flex: 0 0 24.33%;
  padding-top: 2%;
  padding-bottom: 3%;
  text-align: center;
  margin-bottom: 40px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#contact-info1 {
  margin-left: 27%;
  font-size: 16px;
  color: #eeeeee;
}

#contact-info2 {
  margin-left: 5%;
  font-size: 16px;
  color: #eeeeee;
}

#contact-info3 {
  margin-left: 5%;
  font-size: 16px;
  color: #eeeeee;
  width: 5%;
}

p a {
  line-height: 25px;
  font-size: 16px;
  color: #eeeeee;
  margin: 0;
  font-weight: 400;
  text-decoration: none;
}

.copyText {
  line-height: 25px;
  font-size: 16px;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.Txt:hover {
  color: #a6a7a8;
}

.Txt {
  color: #eeeeee;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 50%;
  margin-left: -80px;
  margin-bottom: 27%;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.icon1 {
  color: #007ced;
  font-size: 25px;
}

.icon2 {
  color: #007ced;
  font-size: 25px;
}

.icon3 {
  color: #007ced;
  font-size: 25px;
}

form {
  margin-top: 5%;
}

#contact-form {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

label {
  display: none;
}

.contact-input {
  background: transparent;
  border: 2px solid #aaa;
  color: #aaa;
}

#name {
  margin-bottom: 2%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  width: 25%;
  color: #aaa;
  text-align: center;
  margin-left: 13.5%;
}

#name:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#email {
  margin-bottom: 2%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  width: 25%;
  color: #aaa;
  text-align: center;
  margin-left: 13.5%;
}

#email:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#number {
  margin-bottom: 2%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  width: 25%;
  color: #aaa;
  text-align: center;
  margin-left: 13.5%;
}

#number:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#message {
  margin-bottom: 2%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  width: 25%;
  color: #aaa;
  text-align: center;
  margin-left: 13.5%;
}

#message:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#button {
  background: transparent;
  padding: 10px 20px;
  width: 14%;
  margin-left: 15%;
}

#button:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Footer */
.site-footer {
  background-color: #1d2328;
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-bottom: 1%;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  flex-direction: row;
  margin-left: 32%;
  align-items: right;
}

#social1 {
  text-decoration: none;
  font-size: 13px;
  color: #aaa;
  margin-right: 15%;
}

#social1:hover {
  transition: 0.3s all ease-in;
  color: #eeeeee;
}

#social2 {
  text-decoration: none;
  font-size: 13px;
  color: #aaa;
  margin-right: 15%;
}

#social2:hover {
  transition: 0.3s all ease-in;
  color: #eeeeee;
}

#social3 {
  text-decoration: none;
  font-size: 13px;
  color: #aaa;
}

#social3:hover {
  transition: 0.3s all ease-in;
  color: #eeeeee;
}

.footer-text {
  align-items: left;
  font-size: 13px;
  width: 16%;
  margin-left: 6%;
}

.text {
  color: #aaa;
  font-size: 13px;
}

@media screen and (max-width: 2560px) {
  .Section1 {
    height: 150vh;
  }

  .top-bar {
    display: none;
  }

  .topnav {
    display: none;
  }

  .profile {
    width: 14vw;
  }

  .nav-bar {
    width: 14vw;
  }

  h1 {
    margin-right: 0;
  }

  hr {
    width: 4%;
    margin-left: 53.7%;
  }

  h4 {
    margin-bottom: 2%;
    margin-right: 0%;
    font-size: 20px;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  #contact-info1 {
    margin-left: 16%;
  }

  #contact-info2 {
    margin-left: 3%;
  }

  #contact-info3 {
    margin-left: 3%;
  }

  #loader {
    left: 50%;
    height: 30px;
    width: 30px;
    animation-duration: 0.9s;
  }
}

@media screen and (max-width: 1440px) {
  .Section1 {
    height: 110vh;
  }

  .profile {
    width: 18vw;
  }

  .nav-bar {
    width: 18vw;
  }

  #about-me::after {
    left: 18%;
  }

  #resume::after {
    left: 18%;
  }

  #portfolio::after {
    left: 18%;
  }

  #contact::after {
    left: 18%;
  }

  hr {
    margin-left: 50.7%;
  }

  .icon1 {
    font-size: 24px;
  }

  .icon2 {
    font-size: 24px;
  }

  .icon3 {
    font-size: 24px;
  }

  .copyText {
    font-size: 16px;
  }

  #name {
    font-size: 16px;
  }

  #email {
    font-size: 16px;
  }

  #number {
    font-size: 16px;
  }

  #message {
    font-size: 16px;
  }

  #button {
    font-size: 16px;
    padding: 14px 20px;
  }

  #loader {
    left: 56%;
    height: 30px;
    width: 30px;
    animation-duration: 0.9s;
  }
}

@media screen and (max-width: 1024px) {
  .profile {
    display: none;
  }

  .nav-bar {
    display: none;
  }

  /* Top Navbar */
  .top-bar {
    display: block;
    background-color: #475c70;
    width: 100vw;
    height: 6vh;
  }

  .headings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-img {
    width: 47px;
    height: 47px;
    object-fit: cover;
    margin-left: 1.5%;
    margin-top: 0.8%;
  }

  .openNav {
    float: right;
    margin-right: 2%;
    margin-top: 2%;
  }

  span {
    color: #eeeeee;
  }

  .topnav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
  }

  .topnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .topnav a:hover {
    color: #f1f1f1;
  }

  .topnav .closebtn {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 61px;
    margin-left: 50px;
  }

  #main {
    transition: margin-right 0.5s;
    /* padding: 16px; */
  }

  /* Side Nav */
  .left {
    background-color: #2e3339;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-image {
    border-radius: 50%;
    height: 137px;
    width: 137px;
    object-fit: cover;
  }

  .nav-image:hover {
    box-shadow: 0 0 3px #eeeeee;
    transition: 0.3s all ease-in;
  }

  .nav-title {
    color: #f5f5f5;
    font-size: 27px;
    margin-top: 3%;
  }

  .nav-subtitle {
    color: #9e9e9e;
    font-size: 14px;
    margin-top: 1%;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
  }

  .right {
    background-color: #31373d;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    text-transform: initial;
    gap: 23px;
    list-style-type: none;
  }

  #aboutMe {
    color: #eeeeee;
    text-decoration: none;
    font-size: 18px;
  }

  #aboutMe:hover {
    color: #007ced;
    transition: 0.3s all ease-in;
  }

  #aboutMe::after {
    content: "";
    /* display: block; */
    /* bottom: 67%; */
    width: 0%;
    height: 1px;
    background: #eeeeee;
    position: absolute;
    transition: 00.3s linear;
    /* display: flex; */
    /* flex-direction: row; */
    left: 75%;
  }

  #aboutMe:hover::after {
    width: 6%;
  }

  #Resume {
    color: #eeeeee;
    text-decoration: none;
    font-size: 18px;
  }

  #Resume:hover {
    color: #007ced;
    transition: 0.3s all ease-in;
  }

  #Resume::after {
    content: "";
    /* display: block; */
    /* bottom: 67%; */
    width: 0%;
    height: 1px;
    background: #eeeeee;
    position: absolute;
    transition: 00.3s linear;
    /* display: flex; */
    /* flex-direction: row; */
    left: 75%;
  }

  #Resume:hover::after {
    width: 6%;
  }

  #Portfolio {
    color: #eeeeee;
    text-decoration: none;
    font-size: 18px;
  }

  #Portfolio:hover {
    color: #007ced;
    transition: 0.3s all ease-in;
  }

  #Portfolio::after {
    content: "";
    /* display: block; */
    /* bottom: 67%; */
    width: 0%;
    height: 1px;
    background: #eeeeee;
    position: absolute;
    transition: 00.3s linear;
    /* display: flex; */
    /* flex-direction: row; */
    left: 75%;
  }

  #Portfolio:hover::after {
    width: 6%;
  }

  #Contact {
    color: #eeeeee;
    text-decoration: none;
    font-size: 18px;
  }

  #Contact:hover {
    color: #007ced;
    transition: 0.3s all ease-in;
  }

  #Contact::after {
    content: "";
    /* display: block; */
    /* bottom: 67%; */
    width: 0%;
    height: 1px;
    background: #eeeeee;
    position: absolute;
    transition: 00.3s linear;
    /* display: flex; */
    /* flex-direction: row; */
    left: 75%;
  }

  #Contact:hover::after {
    width: 6%;
  }

  .Section1 {
    height: 90vh;
  }

  h1 {
    margin-left: 0;
  }

  hr {
    width: 7%;
    margin-left: 40.5%;
  }

  h4 {
    margin-left: 0;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  #contact-info1 {
    width: 21%;
    margin-left: 0;
  }

  #contact-info2 {
    width: 21%;
  }

  #contact-info3 {
    width: 21%;
  }

  #contact-form {
    margin-left: 0;
  }

  #name {
    margin-left: 0;
  }

  #email {
    margin-left: 0;
  }

  #number {
    margin-left: 0;
  }

  #message {
    margin-left: 0;
  }

  #button {
    margin-left: 0;
  }

  #loader {
    left: 56%;
    height: 26px;
    width: 26px;
    animation-duration: 0.8s;
  }

  .footer-social {
    margin-left: 12%;
  }

  .footer-text {
    margin-right: 9%;
  }
}

@media screen and (max-width: 768px) {
  .top-bar {
    display: block;
    background-color: #475c70;
    width: 100vw;
    height: 7vh;
  }

  .topnav .closebtn {
    position: absolute;
    top: 4px;
    right: 22px;
    font-size: 49px;
    margin-left: 50px;
  }

  hr {
    width: 12%;
    margin-left: 37%;
  }

  #contact-info1 {
    width: 25%;
  }

  #contact-info2 {
    width: 25%;
  }

  #contact-info3 {
    width: 26%;
  }

  #name {
    font-size: 14px;
    width: 32%;
  }

  #email {
    font-size: 14px;
    width: 32%;
  }

  #number {
    font-size: 14px;
    width: 32%;
  }

  #message {
    font-size: 14px;
    width: 32%;
  }

  #button {
    font-size: 15px;
  }

  #aboutMe::after {
    left: 67%;
  }

  #aboutMe:hover::after {
    width: 6%;
  }

  #Resume::after {
    left: 67%;
  }

  #Resume:hover::after {
    width: 6%;
  }

  #Portfolio::after {
    left: 67%;
  }

  #Portfolio:hover::after {
    width: 6%;
  }

  #Contact::after {
    left: 67%;
  }

  #Contact:hover::after {
    width: 6%;
  }
}

@media screen and (max-width: 425px) {
  .Section1 {
    height: 110vh;
  }

  .topnav {
    display: flex;
    flex-direction: column;
  }

  .left {
    width: 75vw;
    height: 40vh;
  }

  .right {
    width: 75vw;
    display: flex;
    justify-content: start;
  }

  #aboutMe::after {
    left: 50%;
  }

  #aboutMe:hover::after {
    width: 10%;
  }

  #Resume::after {
    left: 50%;
  }

  #Resume:hover::after {
    width: 10%;
  }

  #Portfolio::after {
    left: 50%;
  }

  #Portfolio:hover::after {
    width: 10%;
  }

  #Contact::after {
    left: 50%;
  }

  #Contact:hover::after {
    width: 10%;
  }

  .nav-links {
    margin-top: 14%;
  }

  .topnav a {
    padding: 8px 8px 8px 5px;
  }

  hr {
    margin-bottom: 8%;
  }

  h4 {
    font-size: 14px;
    margin-bottom: 15%;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contact-info1 {
    width: 78%;
    padding-bottom: 4%;
    padding-top: 7%;
  }

  #contact-info2 {
    width: 78%;
    padding-bottom: 4%;
    padding-top: 7%;
  }

  #contact-info3 {
    width: 78%;
    padding-bottom: 4%;
    padding-top: 7%;
  }

  .copyText {
    margin-top: 3%;
  }

  #name {
    font-size: 14px;
    width: 84%;
    margin-left: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  #email {
    font-size: 14px;
    width: 84%;
    margin-left: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-top: 4%;
  }

  #number {
    font-size: 14px;
    width: 84%;
    margin-left: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-top: 4%;
  }

  #message {
    font-size: 14px;
    width: 84%;
    margin-left: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-top: 4%;
  }
  #button {
    width: 30%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-top: 4%;
    float: left;
    margin-left: 10%;
  }

  .openNav {
    margin-right: 3.5%;
    margin-top: 4%;
  }

  .footer-social {
    margin-left: 6%;
  }

  #social1 {
    margin-right: 9%;
  }

  #social2 {
    margin-right: 9%;
  }

  .footer-text {
    align-items: left;
    font-size: 13px;
    width: 33%;
    margin-left: 14%;
  }

  #loader {
    left: 63%;
    height: 26px;
    width: 26px;
    animation-duration: 0.8s;
  }
}

@media screen and (max-width: 320px) {
  .openNav {
    float: right;
    position: absolute;
    right: 1%;
    top: 0.3%;
  }

  #aboutMe::after {
    left: 34%;
  }

  #aboutMe:hover::after {
    width: 14%;
  }

  #Resume::after {
    left: 34%;
  }

  #Resume:hover::after {
    width: 14%;
  }

  #Portfolio::after {
    left: 34%;
  }

  #Portfolio:hover::after {
    width: 14%;
  }

  #Contact::after {
    left: 34%;
  }

  #Contact:hover::after {
    width: 14%;
  }

  #name {
    padding-bottom: 5%;
    padding-top: 5%;
  }

  #email {
    padding-bottom: 5%;
    padding-top: 5%;
  }

  #number {
    padding-bottom: 5%;
    padding-top: 5%;
  }

  #message {
    padding-bottom: 5%;
    padding-top: 7%;
  }

  #loader {
    left: 67%;
    height: 20px;
    width: 20px;
    animation-duration: 0.8s;
  }
}
